/* Header */
header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

h1 {
  color: #0c98e3;
  display: inline;
  padding-left: 10px;
}

/* SymptomsInput */
h3 {
  padding: 50px 0 15px 0;
}

/* ConditionsList */
h4 {
  padding: 30px 0 10px 0;
  text-align: center; 
}

p {
  line-height: 20px;
  text-align: justify;
  background: rgba(255, 255, 255, 0.6);
  padding: 16px;
  border-radius: 10px;
}

span{
  display: inline-block;
  margin-bottom: 6px;
}

/* HealthcareLocator */
.zip-code-input {
  font-size: 15px;
}

#map {
  height: 500px;
  width: 100%;
  margin: 15px 0;
}

.healthcare-locator li {
  list-style: none;
}
/* SearchHistory */
.search-history {
  margin-top: 30px;
}

.search-btn{
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color:#0c98e3;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.search-history ul {
  line-height: 20px;
  text-align: justify;
  background: rgba(255, 255, 255, 0.6);
  padding: 5px;
  border-radius: 10px;
}

.search-history li {
  list-style: none;
  margin-top: 10px;
}

.delete-btn {
  background-color: #0c98e3;
  padding: 3px 6px;
  border: none;
  color: white;
  border-radius: 3px;
}

footer {
  width: 100%;
  border: 1px solid red;
  
}