.container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */
header {
  display: flex;
  align-items: center;
  padding: 20px 20px 0 20px;
}

h1 {
  color: #0c98e3;
  display: inline;
  padding-left: 10px;
}

/* SymptomsInput */
h3 {
  padding: 50px 0 15px 0;
}

/* ConditionsList */
h4 {
  padding: 30px 0 10px 0;
}

p {
  line-height: 20px;
  text-align: justify;
  background: rgba(255, 255, 255, 0.6);
  padding: 15px 20px;
  border-radius: 10px;
}

span{
  display: inline-block;
  margin-bottom: 6px;
}

/* HealthcareLocator */
.zip-code-input {
  font-size: 15px;
}

#map {
  height: 500px;
  width: 100%;
  margin: 15px 0;
}

.healthcare-locator li {
  list-style: none;
}

.healthcare-locator li span {
  font-weight: 600;
}

/* SearchHistory */
.search-history {
  margin-top: 30px;
}

.search-history h3{
  padding-top: 20px;
}

.search-btn{
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color:#0c98e3;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-weight: 600;
}

.search-history ul {
  line-height: 20px;
  text-align: justify;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.search-history li {
  list-style: none;
  margin-top: 10px;
}

.delete-btn {
  background-color: #0c98e3;
  padding: 3px 6px;
  border: none;
  color: white;
  border-radius: 3px;
  margin: 5px 0;
  cursor: pointer;
}

.delete-btn:hover{
  background-color: #0c82c1;
}

.delete-btn:active {
  background-color: white;
  color:#0c82c1;
}

footer {
  width: 100%;
  padding: 0 20px;
  text-align: justify;
  margin-top: 50px;
}

footer p {
  background-color: transparent;
  font-size: 13px;
  padding-left: 0;
}

.disclaimer{
  color: #941616;
}