:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:#1c4961;
}

body {
  background-image: url('./assets/blue-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}

input {
  padding: 9px;
  border: none;
  width: 250px;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}

.blue-btn {
  background-color: #0c98e3;
  border: none;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  color: white;
  font-weight: 600;
  width: 160px;
}

.blue-btn:hover {
  background-color: #0c82c1;
}

.blue-btn:active {
  background-color: white;
  color:#0c82c1;
}
